*{
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}
.nav_bar{
    display: flex;
    height: 36px;
    background-color: orange;
}

.logo{
    /* background-color: aliceblue;   */
    width : 60%;
}
.nav_bar img{
    margin-top: 5px;
    width: 100px;   
}

.btn:hover{
    background-color: rgba(211,211,211, 0.7);
}
.button
{
    /* background-color: aliceblue;   */
    width: 40%;
    text-align: right;
}
.btn{
    padding: 3px 15px;
    margin: 3.5px 5px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 15px;
    background: none;
    color: whitesmoke;
    cursor: pointer;
}
.bg_image{
    overflow: hidden;
    width: 1494px;
    margin-left: 0;
    margin-right: 0;
}
.bg_image img{
    /* position: absolute; */
    width: 100%;
    
}